<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;HongYu Shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{$smarty.const.SITE_URL}shop/" target="_blank"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;商城首页</a></li>
                <li><a href="{$smarty.const.__MODULE__}/Index/deldir"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;清除缓存</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;设置</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;&nbsp;帮助</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;退出</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control hidden" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>


<!--js引用-->
<script src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
<script src="{$smarty.const.ADMIN_JS_URL}bootstrap.min.js"></script>
</body>
</html>