<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" rel="stylesheet">
</head>
<frameset border="0" framespacing="0" rows="50,*" frameborder="0">
    <frame name="head" src="head" frameborder="0" noresize="" scrolling="no">
    <frameset cols="220,*">
        <frame name="left" src="left" frameborder="0" noresize="" >
        <frame name="right" src="right" frameborder="0" noresize="" >
    </frameset>
</frameset>
<noframes></noframes>
</html>