<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--左侧-->
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"><i class="fa fa-user"></i>&nbsp;小王&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="top-right1.html">top-right1.html</a></li>
                    <li class="divider"></li>
                    <li><a href="top-right2.html">top-right2.html</a></li>
                    <li class="divider"></li>
                    <li><a href="top-right3.html"><i class="fa fa-sign-out"></i>&nbsp;top-right3.html</a></li>
                </ul>
            </li>
            <li role="presentation" class="active"><a href="#" style="border-radius:0;margin-top: 15px;">商品管理</a></li>
            <li role="presentation"><a href="{$smarty.const.__MODULE__}/Goods/add_goods" target="right">添加商品</a></li>
            <li role="presentation"><a href="{$smarty.const.__MODULE__}/Goods/showlist" target="right">商品列表</a></li>

            <li role="presentation" class="active"><a href="#" style="border-radius:0">入驻商家</a></li>
            <li role="presentation"><a href="{$smarty.const.SITE_URL}shop/" target="right">添加商家</a></li>
            <li role="presentation"><a href="{$smarty.const.SITE_URL}shop/" target="right">商家列表</a></li>

            <li role="presentation" class="active"><a href="#" style="border-radius:0">会员管理</a></li>
            <li role="presentation"><a href="{$smarty.const.__MODULE__}/User/add" target="right">添加会员</a></li>
            <li role="presentation"><a href="{$smarty.const.__MODULE__}/User/show_user" target="right">会员列表</a></li>
        </ul>

        <!--<ul class="nav nav-sidebar">-->
        <!--<li><a href="{$smarty.const.__MODULE__}/Goods/showlist" target="right">商品管理</a></li>-->
        <!--<li><a href="#">入驻商家</a></li>-->
        <!--<li><a href="{$smarty.const.__MODULE__}/User/show_user" target="right">会员管理</a></li>-->
        <!--<li><a href="#">系统设置</a></li>-->
        <!--</ul>-->
    </div>
</div>
</div>

<!--js引用-->
<script src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
<script src="{$smarty.const.ADMIN_JS_URL}bootstrap.min.js"></script>
</body>
</html>