<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" rel="stylesheet">
</head>
<body>

<table class="table table-striped table-bordered table-hover">
    <caption>Home / shop</caption>
    <thead><tr><th>编号</th><th>商品名称</th><th>货号</th><th>价格</th><th>库存</th><th>操作</th></tr></thead>
    <tbody>
    <tr><th>1</th><td>鸿宇多用户商城</td><td>HY888</td><td>2888.00</td><td>100</td><td>进货</td></tr>
    <tr><th>2</th><td>鸿宇多用户商城</td><td>HY888</td><td>2888.00</td><td>100</td><td>进货</td></tr>
    <tr><th>3</th><td>鸿宇多用户商城</td><td>HY888</td><td>2888.00</td><td>100</td><td>进货</td></tr>
    </tbody>
</table>


<!--js引用-->
<script src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
<script src="{$smarty.const.ADMIN_JS_URL}bootstrap.min.js"></script>
</body>
</html>