<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <ul class="breadcrumb" contenteditable="false" style="margin-top:15px;margin-bottom:15px;border: 1px solid #ddd;"
        onfocus="this.blur()">
        <li class="active">会员列表</li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" style="margin-right: 10px;">
                            <option>所有会员</option>
                            <option>青铜会员</option>
                            <option>黄金会员</option>
                            <option>钻石会员</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail2">会员名称</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="会员名/手机号/邮箱">
                    </div>
                    <button type="submit" class="btn btn-default" onfocus="this.blur()"><span class=" glyphicon glyphicon-search"></span>&nbsp;搜索</button>
                </form>
            </div>
            <div class="pull-right">
                <button class="btn btn-success" onfocus="this.blur()"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加会员</button>
                <button class="btn btn-warning" onfocus="this.blur()"><span class="glyphicon glyphicon-edit"></span>&nbsp;编辑</button>
                <button class="btn btn-danger" onfocus="this.blur()"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</button>
            </div>
        </div>

        <!--会员列表-->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 30px;"><input type="checkbox" value=""></th>
                <th class="text-center">编号</th>
                <th class="text-center">会员名称</th>
                <th class="text-center">手机号</th>
                <th class="text-center">QQ</th>
                <th class="text-center">邮箱</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $info as $k => $v}
            <tr>
                <td style="width: 30px;"><input type="checkbox" value=""></td>
                <td>{$v.user_id}</td>
                <td>{$v.username}</td>
                <td>{$v.user_tel}</td>
                <td>{$v.user_qq}</td>
                <td>{$v.user_email}</td>
                <td class="text-center"><button type="button" onfocus="this.blur()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-share" role="button"></span>&nbsp;查看</button>&nbsp;&nbsp;<button type="button" onfocus="this.blur()" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit" role="button"></span>&nbsp;编辑</button>&nbsp;&nbsp;<button type="button" onfocus="this.blur()" class="btn btn-danger btn-xs" role="button"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</button></td>
            </tr>
            {/foreach}
            </tbody>
            <tfoot></tfoot>
        </table>

        <!--分页-->
        <ul class="list-group pull-right">
            <li class="list-group-item">
                <ul class="pagination">
                    <li class="disabled"><span>上一页</span></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a> </li>
                    <li><a class="#">2 </a> </li>
                    <li><a class="#">3 </a> </li>
                    <li><a class="#">4 </a> </li>
                    <li><a class="#">5 </a> </li>
                    <li class="disabled"><span>...</span></li>
                    <li><a class="#">15 </a> </li>
                    <li><a class="#">16 </a> </li>
                    <li><a class="#">17 </a> </li>
                    <li><a class="#">18 </a> </li>
                    <li><a class="#">下一页 </a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
<script src="{$smarty.const.ADMIN_JS_URL}bootstrap.min.js"></script>
</body>
</html>